.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.resizableWidgetContainer {
  background-color: #f2f3f4;
  padding: 0px;
  margin: 0px;
}
